VS/Demo/NET范例/ch8Web Service/ch8_2/Web 引用/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://MyWebSite.com/XmlWebServices/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://MyWebSite.com/XmlWebServices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://MyWebSite.com/XmlWebServices/">
      <s:element name="MycomputerTime">
        <s:complexType />
      </s:element>
      <s:element name="MycomputerTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MycomputerTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="MycomputerTimeSoapIn">
    <part name="parameters" element="s0:MycomputerTime" />
  </message>
  <message name="MycomputerTimeSoapOut">
    <part name="parameters" element="s0:MycomputerTimeResponse" />
  </message>
  <message name="MycomputerTimeHttpGetIn" />
  <message name="MycomputerTimeHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="MycomputerTimeHttpPostIn" />
  <message name="MycomputerTimeHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="Service1Soap">
    <operation name="MycomputerTime">
      <documentation>This method will show my computer time</documentation>
      <input message="s0:MycomputerTimeSoapIn" />
      <output message="s0:MycomputerTimeSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet">
    <operation name="MycomputerTime">
      <documentation>This method will show my computer time</documentation>
      <input message="s0:MycomputerTimeHttpGetIn" />
      <output message="s0:MycomputerTimeHttpGetOut" />
    </operation>
  </portType>
  <portType name="Service1HttpPost">
    <operation name="MycomputerTime">
      <documentation>This method will show my computer time</documentation>
      <input message="s0:MycomputerTimeHttpPostIn" />
      <output message="s0:MycomputerTimeHttpPostOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="MycomputerTime">
      <soap:operation soapAction="http://MyWebSite.com/XmlWebServices/MycomputerTime" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
    <operation name="MycomputerTime">
      <http:operation location="/MycomputerTime" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
    <operation name="MycomputerTime">
      <http:operation location="/MycomputerTime" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <documentation>those are my web services form my website.</documentation>
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/MyWebService1/Service1.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://localhost/MyWebService1/Service1.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://localhost/MyWebService1/Service1.asmx" />
    </port>
  </service>
</definitions>